$color-grey-1: rgb(240, 240, 240);
$color-grey-2: rgb(226, 226, 226);
$color-grey-3: rgb(189, 189, 189);

$color-toggle: rgb(0, 255, 157);

$color-primary: #98ded9;
$color-primary-dark: #54e9df;

$color-secondry: #161d6f;
$color-secondry-dark: #111758;

$color-tertiary: #c7ffd8;
$color-tertiary-dark: #aae7bd;
