<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hypnosis</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="spiral"></div>
            <!-- <div class="toggle"></div> -->
        </div>

        <!-- <div class="slider">
            <input type="range" min="-100" max="100" value="0" class="slider__dimension" />
            <p class="slider__paragraph">use the sliders to adjust spiral to your screen size</p>
        </div> -->

        <script src="/js/app-index.js"></script>
    </body>
</html>
