<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hypnosis</title>
        <link rel="shortcut icon" type="image/png" href="/css/img/spiral_favicon.png">
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="spiral"></div>
            <div class="toggle">
                <img class="toggle__icon" src="/css/img/sound_close.png" alt="sound icon">
            </div>
        </div>

        <audio loop src="/css/media/Chill-Pill-FREE-sample.mp3"></audio> 

        <!-- <div class="slider">
            <input type="range" min="-100" max="100" value="0" class="slider__dimension" />
            <p class="slider__paragraph">use the sliders to adjust spiral to your screen size</p>
        </div> -->

        <script src="/js/app-index.js"></script>
    </body>
</html>
